body {
    background-color: #191919;
    color: white;
}
img {
    border: white solid 5px;
    width: 100%;
    box-shadow: 3px 5px 2px 1px #750E21;
    border-radius: 10px;
}
div {
    width: 50%;
    margin-left: 25%;
    text-align: center;
}
h1 {
    text-transform: uppercase;
    font-family: 'Libre Baskerville', serif;
    
}
h2 {
    color: #750E21;
    border: 2px solid white;
    background-color: white;
    border-radius: 5pt;
    font-size: 5vw;

}
em {
    color: #E3651D;
}
p {
    font-size: 2rem
}